<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zadatak 4</title>
    <link href="resursi/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
            <form>
                Ime:<input class="form-control" type="text" ng-model="vm.obj.ime"><br>
                Prezime: <input class="form-control" type="text" ng-model="vm.obj.prezime"><br>
                Broj indeksa: <input class="form-control" type="number" ng-model="vm.obj.brindeks"><br>
                Ocena: <input class="form-control" type="number" ng-model="vm.obj.ocena"><br>
                <button ng-click="vm.add()">Dodaj</button>
            </form>

            <input type="text" ng-model="vm.search" placeholder="Filtriranje">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Broj indeksa</th>
                        <th>Ocena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="el in vm.kolekcija|filter:vm.search track by $index">
                        <td>{{el.ime}}</td>
                        <td>{{el.prezime}}</td>
                        <td>{{el.brindeks}}</td>
                        <td>{{el.ocena}}</td>
                        <td><a ng-click="vm.brisi(el)">brisi</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="resursi/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="resursi/angular/angular.min.js"></script>
    <script src="app.js"></script>

</body>

</html>